<div class="container bg-light p-4"> 
  <div class="now">
    <div class="col-7 m-auto"></div>
    <h1 class="text-center"> Casdastro de Clientes</h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="produto" aria-label="Username">
      <span class="input-group-text">-</span>
      <input type="text" class="form-control" placeholder="id" aria-label="Server">
    </div>
  <form>
    <div class="mb-3 col-9 m-auto">
      <label for="matricula" class="form-label">Matricula</label>
      <input
       type="text"
       class="form-control"
       id="matricula"
       name="matricula">
     </div>
  </form>
</div>
 
<div class="container">
  <form>
    <div class="mb-3 col-9 m-auto">
      <label for="nome" class="form-label">Nome</label>
      <input
       type="text"
       class="form-control"
       id="nome"
       name="nome">
     </div>
  </form>
</div>
 
<div class="container">
  <form>
    <div class="mb-3 col-9 m-auto">
      <label for="curso" class="form-label">Curso</label>
      <input
       type="text"
       class="form-control"
       id="curso"
       name="curso">
     </div>
  </form>
  <button type="button" class="btn btn-primary">Salvar</button>
</div>
